<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/auth/auth-send.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://kit.fontawesome.com/87ed282d9d.js" crossorigin="anonymous"></script>
    <title>비밀번호 재설정 • Instagram</title>
</head>
<body>
    <header>
        <div class="header-div">
            <img src="/static/image/logos/instagram-char-log.png" alt="인스타그램 로고">
        </div>
    </header>
    <main>
        <div class="container">
            <div class="main-content">
                <div class="send-main-div">
                    <div class="title-div">
                        <h1 class="title-h1">SMS 전송함</h1>
                    </div>
                    <div class="notice-div">
                        <span class="notice-span">계정에 다시 로그인할 수 있는 링크가 포함된 SMS를 
                            <span class="auth-information-span">***_****_**60</span>
                            번으로 보내드렸습니다.
                        </span>
                    </div>
                    <div class="check-div">
                        <button class="check-button" type="button">확인</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="/static/js/auth/auth-send.js"></script>
</body>
</html>