<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/auth/password-change.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://kit.fontawesome.com/87ed282d9d.js" crossorigin="anonymous"></script>
    <title>비밀번호 재설정 • Instagram</title>
</head>
<body>
    <header>
        <div class="header-div">
            <img src="/static/image/logos/instagram-char-log.png" alt="인스타그램 로고">
        </div>
    </header>
    <main>
        <div class="container">
            <div class="main-content">
                <div class="password-change-main-div">
                    <div class="content-h1-div">
                        <h1>보안 수준이 높은 비밀번호 만들기</h1>
                    </div>
                    <div class="content-notice-div">
                        <div class="notice-span">비밀번호는 6자 이상이어야 하고 숫자, 영문, 특수기호(!$@%)의 조합을 포함해야 합니다.</div>
                    </div>
                    <div class="auth-information-div">
                        <input type="password" placeholder="새 비밀번호">    
                        <input type="password" placeholder="새 비밀번호 다시 입력">    
                    </div>
                    <div class="password-change-div">
                        <button class="password-change-button" type="button">비밀번호 재설정</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="/static/js/auth/password-change.js"></script>
</body>
</html>