<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/fragments/aside.css" rel="stylesheet">
    <link href="/static/css/auth/profile-edit.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://kit.fontawesome.com/87ed282d9d.js" crossorigin="anonymous"></script>
    <title>프로필 편집 • Instagram</title>
</head>
<body>
    <main>
        <div id="container">
            <th:block th:replace="fragments/aside"></th:block>
            <div class="main-content">
                <div class="profile-edit-main-content">
                    <div class="side-menu-div">
                        <ul>
                            <li>프로필 편집</li>
                            <li>비밀번호 변경</li>
                            <li>앱 및 웹사이트</li>
                            <li>이메일 알림</li>
                            <li>푸시 알림</li>
                            <li>연락처 관리</li>
                            <li>개인정보 및 보안</li>
                            <li>광고</li>
                            <li>관리 감독</li>
                            <li>로그인 활동</li>
                            <li>Instagram에서 보낸 이메일</li>
                            <li>도움말</li>
                            <li>디지털 자산</li>
                        </ul>
                    </div>
                    <div class="content-div visible">
                        <div class="user-profile-information-main-div">
                            <div class="user-profile-image-div">
                                <img src="/static/image/profiles/Jordy.png" alt="프로필">
                            </div>
                            <div class="user-information-div column">
                                <span class="user-nickname-span">dae._gyeong</span>
                                <button class="change-profile-image-button" type="button">프로필 사진 바꾸기</button>
                            </div>
                        </div>
                        <div class="user-name-main-div">
                            <span class="title-span">이름</span>
                            <div class="user-name-div column">
                                <input type="text" class="user-name-input">
                            </div>
                        </div>
                        <div class="user-nickname-main-div">
                            <span class="title-span">사용자 이름</span>
                            <div class="user-nickname-div column">
                                <input type="text" class="user-nickname-input">
                                <span class="notice-span">대부분의 경우 이후 14일 동안 사용자 이름을 다시 <span class="user-nickname-span">dae._gyeong</span>(으)로 변경할 수 있습니다.</span>
                            </div>
                        </div>
                        <div class="introduce-main-div">
                            <span class="title-span">소개</span>
                            <div class="introduce-div column">
                                <textarea class="introduce-textarea"></textarea>
                                <span class="limit-count-span"><span class="count-span">0</span> / 150</span>
                            </div>
                        </div>
                        <div class="notice-div column">
                            <p class="notice-p">개인정보</p>
                            <span class="notice-span">비즈니스나 반려동물 등에 사용된 계정인 경우에도 회원님의 개인정보를 입력하세요. 공개 프로필에는 포함되지 않습니다.</span>
                        </div>
                        <div class="email-main-div">
                            <span class="title-span">이메일</span>
                            <div class="email-div column">
                                <input type="email" class="user-email-input">
                            </div>
                        </div>
                        <div class="phone-main-div">
                            <span class="title-span">전화번호</span>
                            <div class="phone-div">
                                <input type="tel" class="user-phone-input">
                            </div>
                        </div>
                        <div class="gender-main-div">
                            <span class="title-span">성별</span>
                            <div class="gender-div">
                                <button class="user-gender-button" type="button">남성</button>
                            </div>
                        </div>
                        <div class="edit-profile-button-div">
                            <button class="edit-profile-button" type="button">제출</button>
                        </div>
                    </div>
                    
                    <div class="content-div visible">
                        <div class="user-profile-information-main-div">
                            <div class="user-profile-image-div">
                                <img src="/static/image/profiles/Jordy.png" alt="프로필">
                            </div>
                            <div class="user-information-div column">
                                <span class="user-nickname-span">dae._gyeong</span>
                            </div>
                        </div>
                        <div class="user-name-main-div">
                            <span class="title-span">이전 비밀번호</span>
                            <div class="user-name-div column">
                                <input type="password" class="pre-password-input password-input">
                            </div>
                        </div>
                        <div class="user-nickname-main-div">
                            <span class="title-span">새 비밀번호</span>
                            <div class="user-nickname-div column">
                                <input type="password" class="new-password-input password-input">
                            </div>
                        </div>
                        <div class="email-main-div">
                            <span class="title-span">새 비밀번호 확인</span>
                            <div class="email-div column">
                                <input type="password" class="new-password-check-input password-input">
                            </div>
                        </div>
                        <div class="change-password-request-div">
                            <button class="change-password-button" type="button">비밀번호 변경</button>
                        </div>
                        <div class="load-forgot-password-page-button-div">
                            <button class="load-forgot-password-page-button" type="button">비밀번호를 잊으셨나요?</button>
                        </div>
                    </div>

                    <div class="alert-content-div push-alert-content-div">
                        <div class="push-alert-main-div">
                            <div class="content-title-div">
                                <span class="content-title-span">푸시 알림</span>
                            </div>
                            <div class="all-alert-setting-div">
                                <span class="content-span">모두 일시 중단</span>
                                <div class="setting-on-off-div">
                                    <input class="all-alert-setting-input on-off-input visible" id="all-alert-setting-input" type="checkbox">
                                    <label class="on-off-outer-label" for="all-alert-setting-input">
                                        <div class="on-off-div"></div>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="like-alert-div border-bottom">
                            <div class="content-title-div">
                                <span class="content-title-span">좋아요</span>
                            </div>
                            <div class="radio-div">
                                <div>
                                    <input id="like-alert-off" class="like-alert-radio visible" name="like-alert-radio" type="radio">
                                    <label class="cursor" for="like-alert-off">
                                        <div class="circle-div"></div>
                                    </label>
                                    <span class="content-span cursor">해제</span>
                                </div>
                                <div>
                                    <input id="like-alert-follow-user" class="like-alert-radio visible" name="like-alert-radio" type="radio">
                                    <label class="cursor" for="like-alert-follow-user">
                                        <div class="circle-div"></div>
                                    </label>
                                    <span class="content-span cursor">내가 팔로우하는 사람</span>
                                </div>
                                <div>
                                    <input id="like-alert-all-user" class="like-alert-radio visible" name="like-alert-radio" type="radio">
                                    <label class="cursor" for="like-alert-all-user">
                                        <div class="circle-div"></div>
                                    </label>
                                    <span class="content-span cursor">모든 사람</span>
                                </div>
                            </div>
                            <span class="notice-span">johnappleseed님이 회원님의 사진을 좋아합니다.</span>
                        </div>
                        <div class="to-me-like-alert-div border-bottom disabled">
                            <div class="content-title-div">
                                <span class="content-title-span">회원님이 나온 사진의 좋아요 및 댓글</span>
                            </div>
                            <div class="radio-div">
                                <div>
                                    <input id="like-alert-off" class="to-me-like-alert-radio visible" name="to-me-like-alert-radio" type="radio">
                                    <label class="cursor" for="to-me-like-alert-off">
                                        <div class="circle-div"></div>
                                    </label>
                                    <span class="content-span cursor">해제</span>
                                </div>
                                <div>
                                    <input id="like-alert-follow-user" class="to-me-like-alert-radio visible" name="to-me-like-alert-radio" type="radio">
                                    <label class="cursor" for="to-me-like-alert-follow-user">
                                        <div class="circle-div"></div>
                                    </label>
                                    <span class="content-span cursor">내가 팔로우하는 사람</span>
                                </div>
                                <div>
                                    <input id="like-alert-all-user" class="to-me-like-alert-radio visible" name="to-me-like-alert-radio" type="radio">
                                    <label class="cursor" for="to-me-like-alert-all-user">
                                        <div class="circle-div"></div>
                                    </label>
                                    <span class="content-span cursor">모든 사람</span>
                                </div>
                            </div>
                            <span class="notice-span">johnappleseed님이 회원님이 태그된 게시물에 댓글을 남겼습니다.</span>
                            <div class="disabled-div">

                            </div>
                        </div>
                        <div class="comment-alert-div border-bottom">
                            <div class="content-title-div">
                                <span class="content-title-span">댓글</span>
                            </div>
                            <div class="radio-div">
                                <div>
                                    <input id="comment-alert-off" class="comment-alert-radio visible" name="comment-alert-radio" type="radio">
                                    <label class="cursor" for="comment-alert-off">
                                        <div class="circle-div"></div>
                                    </label>
                                    <span class="content-span cursor">해제</span>
                                </div>
                                <div>
                                    <input id="comment-alert-follow-user" class="comment-alert-radio visible" name="comment-alert-radio" type="radio">
                                    <label class="cursor" for="comment-alert-follow-user">
                                        <div class="circle-div"></div>
                                    </label>
                                    <span class="content-span cursor">내가 팔로우하는 사람</span>
                                </div>
                                <div>
                                    <input id="comment-alert-all-user" class="comment-alert-radio visible" name="comment-alert-radio" type="radio">
                                    <label class="cursor" for="comment-alert-all-user">
                                        <div class="circle-div"></div>
                                    </label>
                                    <span class="content-span cursor">모든 사람</span>
                                </div>
                            </div>
                            <span class="notice-span">johnappleseed님이 댓글을 남겼습니다: "멋지네요!"</span>
                        </div>
                        <div class="comment-like-alert-div border-bottom">
                            <div class="content-title-div">
                                <span class="content-title-span">댓글 좋아요</span>
                            </div>
                            <div class="radio-div">
                                <div>
                                    <input id="comment-like-alert-off" class="comment-like-alert-radio visible" name="comment-like-alert-radio" type="radio">
                                    <label class="cursor" for="comment-like-alert-off">
                                        <div class="circle-div"></div>
                                    </label>
                                    <span class="content-span cursor">해제</span>
                                </div>
                                <div>
                                    <input id="comment-like-alert-on" class="comment-like-alert-radio visible" name="comment-like-alert-radio" type="radio">
                                    <label class="cursor" for="comment-like-alert-on">
                                        <div class="circle-div"></div>
                                    </label>
                                    <span class="content-span cursor">설정</span>
                                </div>
                            </div>
                            <span class="notice-span">johnappleseed님이 회원님의 댓글을 좋아합니다: 멋지네요!</span>
                        </div>
                        <div class="first-board-alert-div border-bottom">
                            <div class="content-title-div">
                                <span class="content-title-span">첫 게시물과 스토리</span>
                            </div>
                            <div class="radio-div">
                                <div>
                                    <input id="first-board-alert-off" class="first-board-alert-radio visible" name="first-board-alert-radio" type="radio">
                                    <label class="cursor" for="first-board-alert-off">
                                        <div class="circle-div"></div>
                                    </label>
                                    <span class="content-span cursor">해제</span>
                                </div>
                                <div>
                                    <input id="first-board-alert-follow-user" class="first-board-alert-radio visible" name="first-board-alert-radio" type="radio">
                                    <label class="cursor" for="first-board-alert-follow-user">
                                        <div class="circle-div"></div>
                                    </label>
                                    <span class="content-span cursor">내가 팔로우하는 사람</span>
                                </div>
                                <div>
                                    <input id="first-board-alert-all-user" class="first-board-alert-radio visible" name="first-board-alert-radio" type="radio">
                                    <label class="cursor" for="first-board-alert-all-user">
                                        <div class="circle-div"></div>
                                    </label>
                                    <span class="content-span cursor">모든 사람</span>
                                </div>
                            </div>
                            <span class="notice-span">johnappleseed님의 첫 Instagram 스토리 게시 등을 안내하는 알림입니다.</span>
                        </div>
                        <div class="new-follower-alert-div border-bottom">
                            <div class="content-title-div">
                                <span class="content-title-span">새 팔로워</span>
                            </div>
                            <div class="radio-div">
                                <div>
                                    <input id="new-follower-alert-off" class="new-follower-alert-radio visible" name="new-follower-alert-radio" type="radio">
                                    <label class="cursor" for="new-follower-alert-off">
                                        <div class="circle-div"></div>
                                    </label>
                                    <span class="content-span cursor">해제</span>
                                </div>
                                <div>
                                    <input id="new-follower-alert-on" class="new-follower-alert-radio visible" name="new-follower-alert-radio" type="radio">
                                    <label class="cursor" for="new-follower-alert-on">
                                        <div class="circle-div"></div>
                                    </label>
                                    <span class="content-span cursor">설정</span>
                                </div>
                            </div>
                            <span class="notice-span">John Appleseed(@johnappleseed)님이 회원님을 팔로우하기 시작했습니다.</span>
                        </div>
                        <div class="follow-recieve-alert-div border-bottom">
                            <div class="content-title-div">
                                <span class="content-title-span">수락한 팔로우 요청</span>
                            </div>
                            <div class="radio-div">
                                <div>
                                    <input id="follow-recieve-alert-off" class="follow-recieve-alert-radio visible" name="follow-recieve-alert-radio" type="radio">
                                    <label class="cursor" for="follow-recieve-alert-off">
                                        <div class="circle-div"></div>
                                    </label>
                                    <span class="content-span cursor">해제</span>
                                </div>
                                <div>
                                    <input id="follow-recieve-alert-on" class="follow-recieve-alert-radio visible" name="follow-recieve-alert-radio" type="radio">
                                    <label class="cursor" for="follow-recieve-alert-on">
                                        <div class="circle-div"></div>
                                    </label>
                                    <span class="content-span cursor">설정</span>
                                </div>
                            </div>
                            <span class="notice-span">John Appleseed(@johnappleseed)님이 팔로우 요청을 수락했습니다.</span>
                        </div>
                        <div class="message-alert-div">
                            <div class="content-title-div">
                                <span class="content-title-span">메시지 알림</span>
                            </div>
                            <div class="radio-div">
                                <div>
                                    <input id="message-alert-off" class="message-alert-radio visible" name="message-alert-radio" type="radio">
                                    <label class="cursor" for="message-alert-off">
                                        <div class="circle-div"></div>
                                    </label>
                                    <span class="content-span cursor">해제</span>
                                </div>
                                <div>
                                    <input id="message-alert-on" class="message-alert-radio visible" name="message-alert-radio" type="radio">
                                    <label class="cursor" for="message-alert-on">
                                        <div class="circle-div"></div>
                                    </label>
                                    <span class="content-span cursor">설정</span>
                                </div>
                            </div>
                            <span class="notice-span">johnappleseed님이 메시지를 보냈습니다.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <th:block th:replace="fragments/footer"></th:block>
    <script src="/static/js/fragments/aside.js"></script>
    <script src="/static/js/auth/profile-edit.js"></script>
</body>
</html>