<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/fragments/aside.css" rel="stylesheet">
    <link href="/static/css/auth/profile.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://kit.fontawesome.com/87ed282d9d.js" crossorigin="anonymous"></script>
    <title>한대경(@dae._gyeong) • Instagram</title>
</head>
<body>
    <main>
        <div id="container">
            <th:block th:replace="fragments/aside"></th:block>
            <div class="main-content">
                <div class="user-profile-main-div">
                    <div class="profile-header-div">
                        <div class="user-information-main-div">
                            <div class="user-image-div">
                                <img src="/static/image/profiles/Jordy.png" alt="프로필">
                            </div>
                            <div class="user-information-div">
                                <div class="nickname-and-option-div">
                                    <div>
                                        <span class="nickname-span">dae._gyeong</span>
                                    </div>
                                    <div>
                                        <button class="profile-edit-button" type="button">프로필 편집</button>
                                    </div>
                                    <div>
                                        <i class="fa-solid fa-gear setting-button"></i>
                                    </div>
                                </div>
                                <div class="board-and-follow-div">
                                    <div class="board-div">
                                        게시물 <span class="board-span">0</span>
                                    </div>
                                    <div class="follower-div">
                                        팔로워 <span class="follower-span">123</span>
                                    </div>
                                    <div class="following-div">
                                        팔로우 <span class="following-span">200</span>
                                    </div>
                                </div>
                                <div class="user-name-div">
                                    <span class="user-name-span">한대경</span>
                                </div>
                                <div class="introduce-div">
                                    <span class="introduce-span">안녕하세요.</span>
                                </div>
                            </div>
                        </div>
                        <div class="highlight-main-div">
                            <div class="add-highlight-div">
                                <div class="outer-border">
                                    <i class="fa-solid fa-plus add-highlight-button"></i>
                                </div>
                                <p class="notice-p">신규</p>
                            </div>
                            <div class="highlight-list-div">
                                <div class="add-highlight-div">
                                <div class="outer-border">
                                    <img src="/static/image/profiles/Jordy.png" alt="">
                                </div>
                                <p class="notice-p">~~~</p>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="board-header-div">
                        <div class="board-button-div">
                            <span class="content-span">게시물</span>
                        </div>
                        <div class="saved-board-button-div">
                            <span class="content-span">저장됨</span>
                        </div>
                        <div class="tag-button-div">
                            <span class="content-span">태그됨</span>
                        </div>
                    </div>
                    <div class="upload-board-div board-div visible">
                        <div class="image-div">
                            <div class="outer-div cursor">
                                <i class="fa-solid fa-camera upload-board-button"></i>
                            </div>
                        </div>
                        <div class="notice-div">
                            <h1 class="notice-h1">사진 공유</h1>
                            <span class="notice-span">사진을 공유하면 회원님의 프로필에 표시됩니다.</span>
                        </div>
                        <div class="upload-board-button-div">
                            <button class="upload-board-button" type="button">첫 사진 공유하기</button>
                        </div>
                    </div>
                    <div class="saved-board-div board-div visible">
                        <div class="image-div">
                            <div class="outer-div">
                                <i class="fa-regular fa-bookmark"></i>
                            </div>
                        </div>
                        <div class="notice-div">
                            <h1 class="notice-h1">게시글 저장</h1>
                            <span class="notice-span">게시글을 저장하면 원하는 게시글을 볼 수 있습니다.</span>
                        </div>
                    </div>
                    <div class="tag-board-div board-div visible">
                        <div class="image-div">
                            <div class="outer-div">
                                <i class="fa-solid fa-circle-user"></i>
                            </div>
                        </div>
                        <div class="notice-div">
                            <h1 class="notice-h1">내가 나온 사진</h1>
                            <span class="notice-span">사람들이 회원님을 사진에 태그하면 태그된 사진이 여기에 표시됩니다.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <th:block th:replace="fragments/board"></th:block>
    </main>
    <th:block th:replace="fragments/footer"></th:block>
    <script src="/static/js/auth/principal.js"></script>
    <script src="/static/js/fragments/aside.js"></script>
    <script src="/static/js/fragments/board.js"></script>
    <script src="/static/js/auth/profile.js"></script>
</body>
</html>