<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/fragments/board.css" rel="stylesheet">
</head>
<div class="main-modal-div visible">
    <div class="upload-picture-and-video-modal">
        <div class="modal-header-div">
            <button class="pre-button hidden" type="button">
                <i class="fa-solid fa-arrow-left"></i>
            </button>
            <h1>새 게시물 만들기</h1>
            <button class="next-button hidden" type="button">다음</button>
        </div>
        <div class="board-content-div">
            <div class="upload-content">
                <div class="upload-file-div">
                    <form class="file-upload-form" enctype="multipart/form-data">
                        <img src="/static/image/images/upload-picture-and-video.png" alt="업로드 이미지">
                        <p class="notice-p">사진과 동영상을 여기에 끌어다 놓으세요.</p>
                        <input id="file-input" class="file-input visible" name="file" type="file" accept="image/*, video/*" multiple>
                        <label class="select-file-label" for="file-input">컴퓨터에서 선택</label>
                    </form>
                    <!-- <div class="swiper-container swiper1">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="/static/image/profiles/Jordy.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="/static/image/logos/google-play-store-logo.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-button-prev">&lt;</div>
                        <div class="swiper-button-next">&gt;</div>
                        <div class="swiper-footer">
                            <div class="left-icons">
                                <button class="modify-file-ratio-button" type="button">
                                    <i class="fa-solid fa-up-right-and-down-left-from-center"></i>
                                </button>
                                <button class="expansion-button" type="button">
                                    <i class="fa-solid fa-magnifying-glass-plus"></i>
                                </button>
                            </div>
                            <div class="swiper-pagination"></div>
                            <div class="right-icons">
                                <button class="show-file-list-button" type="button">
                                    <i class="fa-regular fa-clone"></i>
                                </button>
                            </div>
                        </div>
                        <div class="uploaded-file-list-div">
                            <div class="file-list-div">
                                <div class="uploaded-file-div">
                                    <i class="fa-solid fa-x"></i>
                                    <img src="/static/image/logos/google-play-store-logo.png" alt="">
                                </div>
                                <div class="uploaded-file-div">
                                    <i class="fa-solid fa-x"></i>
                                    <img src="/static/image/logos/google-play-store-logo.png" alt="">
                                </div>
                                <div class="add-file-input-div">
                                    <input id="add-file-input" class="add-file-input visible" type="file" multiple>
                                    <label class="add-file-label" for="add-file-input">+</label>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="tag-div visible">
                <div class="tag-header">
                    <div class="notice-div">
                        <span>태그:</span>
                    </div>
                    <input type="search" class="tag-search-input" placeholder="검색">
                </div>
                <div class="tag-result-div">
                    <div class="test-div" contenteditable="true">
                        
                    </div>
                    <!-- <ul>
                        <li class="tag-result-li">
                            <div class="user-information-div">
                                <div class="user-image-div">
                                    <img class="user-image" src="/static/image/profiles/Jordy.png" alt="프로필">
                                </div>
                                <div class="user-name-information-div">
                                    <span class="user-nickname-span">dae._gyeong</span>
                                    <span class="user-name-span">한대경</span>
                                </div>
                            </div>
                        </li>
                    </ul> -->
                </div>
            </div>
            <div class="content-div visible">
                <div class="user-information-div">
                    <div class="user-image-div">
                        <img class="user-image" src="/static/image/profiles/Jordy.png" alt="프로필">
                    </div>
                    <span class="user-nickname-span">dae._gyeong</span>
                </div>
                <textarea class="content-textarea" placeholder="문구 입력..."></textarea>
                <div class="content-footer">
                    <div class="emoticon-div">
                        <button class="emoticon-button" type="button">
                            <i class="fa-regular fa-face-smile-beam"></i>
                        </button>
                    </div>
                    <div class="count-div">
                        <span class="count-span">0/2200</span>
                    </div>
                </div>
                <div class="location-div option">
                    <div class="option-title-div">
                        <input class="location-input" type="text" placeholder="위치 추가">
                        <div class="option-icon-div">
                            <i class="fa-solid fa-location-dot"></i>
                        </div>
                    </div>
                </div>
                <div class="accessibility-div option">
                    <div class="option-title-div cursor">
                        <div class="notice-div">
                            <p>접근성</p>
                        </div>
                        <div class="option-icon-div">
                            <i class="fa-solid fa-chevron-down"></i>
                            <!-- <i class="fa-solid fa-chevron-up"></i> -->
                        </div>
                    </div>
                    <div class="option-content-div visible">
                        <span class="notice-span">대체 텍스트는 시각적으로 사진을 보기 어려운 사람들에게 사진 내용을 설명하는 텍스트입니다. 대체 텍스트는 회원님의 사진에 대해 자동으로 생성되며, 직접 입력할 수도 있습니다.</span>
                        <div class="file-option-div">
                            <ul>
                                <li>
                                    <div class="file-option-detail-div">
                                        <img class="file-image" src="/static/image/profiles/Jordy.png" alt="프로필">
                                        <input type="text" placeholder="대체 텍스트 입력...">
                                    </div>
                                </li>
                                <li>
                                    <div class="file-option-detail-div">
                                        <img class="file-image" src="/static/image/profiles/Jordy.png" alt="프로필">
                                        <input type="text" placeholder="대체 텍스트 입력...">
                                    </div>
                                </li>
                                <li>
                                    <div class="file-option-detail-div">
                                        <img class="file-image" src="/static/image/profiles/Jordy.png" alt="프로필">
                                        <input type="text" placeholder="대체 텍스트 입력...">
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tag-search-result-modal-div visible">
                        <ul>
                            <li>
                                <div class="detail-information-div">
                                    <img class="user-image" src="/static/image/profiles/Jordy.png" alt="프로필">
                                    <div class="user-information">
                                        <span class="user-nickname-span">dae._gyeong</span>
                                        <span class="user-name-span">한대경</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="location-tag-result-list-div">
                                    <span class="tag-content-span">dae._gyeong</span>
                                    <span class="tag-content-total-count-span">한대경</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="advanced-settings option">
                    <div class="option-title-div cursor">
                        <div class="notice-div">
                            <p>고급 설정</p>
                        </div>
                        <div class="option-icon-div">
                            <i class="fa-solid fa-chevron-down"></i>
                            <!-- <i class="fa-solid fa-chevron-up"></i> -->
                        </div>
                    </div>
                    <div class="option-content-div visible">
                        <div class="hide-like-and-view-option-div">
                            <div class="setting-header-div">
                                <div class="setting-title-div">
                                    <span class="setting-title-span">이 게시물의 좋아요 수 및 조회수 숨기기</span>
                                </div>
                                <div class="setting-on-off-div">
                                    <input class="hide-like-and-view-input on-off-input visible" id="hide-like-and-view-input" type="checkbox">
                                    <label class="on-off-outer-label" for="hide-like-and-view-input">
                                        <div class="on-off-div"></div>
                                    </label>
                                </div>
                            </div>
                            <span class="notice-span">이 게시물의 총 좋아요 및 조회수는 회원님만 볼 수 있습니다. 나중에 게시물 상단에 있는 ··· 메뉴에서 이 설정을 변경할 수 있습니다. 다른 사람의 게시물에서 좋아요 수를 숨기려면 계정 설정으로 이동하세요.</span>
                        </div>
                        <div class="comment-option-div">
                            <div class="setting-header-div">
                                <div class="setting-title-div">
                                    <span class="setting-title-span">댓글 기능 해제</span>
                                </div>
                                <div class="setting-on-off-div">
                                    <input class="comment-option-input on-off-input visible" id="comment-option-input" type="checkbox">
                                    <label class="on-off-outer-label" for="comment-option-input">
                                        <div class="on-off-div"></div>
                                    </label>
                                </div>
                            </div>
                            <span class="notice-span">나중에 게시물 상단의 메뉴(···)에서 이 설정을 변경할 수 있습니다.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="x-mark-div">
        <i class="fa-solid fa-x"></i>
    </div>
    <div class="remove-notice-modal-outer-div visible">
        <div class="remove-notice-modal-div">
            <div class="remove-notice-div">
                <h1>게시물을 삭제하시겠어요?</h1>
                <p>지금 나가면 수정 내용이 저장되지 않습니다.</p>
            </div>
            <div class="remove-div">
                <button class="remove-button" type="button">삭제</button>
            </div>
            <div class="cancel-div">
                <button class="cancel-button" type="button">취소</button>
            </div>
        </div>
    </div>
</div>
</html>