main {
    display: flex;
    justify-content: center;

    width: 1920px;

    background-color: rgb(250, 250, 250);
}

#container {
    position: relative;
}

.flex-align-center {
    display: flex;
    align-items: center;
}

.border-bottom {
    border-bottom: 1px solid #dbdbdb;
}

.cursor {
    cursor: pointer;
}

.main-content {
    display: flex;
    justify-content: center;
    
    padding-left: 335px;
}

.story-div, .board-article {
    border: 1px solid #dbdbdb;
    border-radius: 5px;

    background-color: white;
}

.user-profile-li img {
    width: 24px;
    height: 24px;
}

.story-div {
    margin: 20px 0px;

    width: 470px;
    height: 119px;

    overflow: auto;
}

.story-div::-webkit-scrollbar {
    height: 5px;
}

.story-div::-webkit-scrollbar-thumb {
    height: 17%;
    
    background-color: rgba(26, 26, 26, .8);
}

.story-div::-webkit-scrollbar-track {
    background-color: rgba(26, 26, 26, .1);
}

.story-ul li {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0px 10px 15px;

    width: 66px;
    height: 66px;

    cursor: pointer;
}

.story-ul li img, .detail-information-div img {
    width: 66px;
    height: 66px;
}

.story-div .user-nickname-span {
    font-weight: 300;
    font-size: 12px;
}

.board-article {
    width: 470px;
    height: 754px;
}

.board-article:not(.board-article:nth-last-child(1)) {
    margin-bottom: 30px;
}

.board-article > div:not(.board-article div:nth-of-type(1)) {
    padding: 5px 10px;
}

.board-header {
    border-bottom: 1px solid #dbdbdb;
    border-radius: 5px;

    padding: 10px;

    width: 470px;
    height: 56px;
}

.board-div .user-image-div, .board-div .user-image {
    width: 40px;
    height: 40px;
}

.user-image {
    border: 1px solid #dbdbdb;
    border-radius: 50%;
}

.user-nickname-div {
    margin-left: 10px;

    width: 368px;
    height: 40px;
}

.more-option-div {
    justify-content: end;
    width: 40px;
    height: 40px;
}

.more-option-button {
    border: none;

    background-color: white;
}

.board-image-div {
    width: 470px;
    height: 470px;
}

.board-image-div img {
    width: 470px;
    height: 470px;
}

.buttons-div {
    justify-content: space-between;
    padding: 5px 0px !important;
}

.buttons-div button {
    border: none;
    background-color: white;

    width: 40px;
    height: 40px;
}

.buttons-div button i {
    font-size: 20px;
}

.board-div .user-nickname-span {
    font-weight: 600;
}

.write-comment-div {
    border-top: 1px solid #dbdbdb;
}

.emoticon-button, .request-comment-write-button {
    border: none;

    background-color: white;
}

.emoticon-button i {
    font-size: 20px;
}

.comment-input {
    border: none;
    padding: 10px;

    width: 400px;
    height: 40px;

    outline: none;
}

.request-comment-write-button {
    color: #b3dbff;
    /* color: #0095f6; */

    font-weight: 600;
}

.recommend-section {
    padding: 20px 0px 20px 20px;
}

.recommend-section img {
    cursor: pointer;
}

.my-information-div {
    display: flex;
    justify-content: space-between;

    margin: 20px 0px;
    
    width: 319px;
}

.detail-information-div {
    display: flex;
    align-items: center;

}

.user-information {
    display: flex;
    flex-direction: column;

    padding: 0px 20px;
}

.change-user-button, .follow-user-button {
    border: none;
    
    background-color: rgb(250, 250, 250);
    color: #0095f6;

    font-weight: 500;
}

.user-nickname-span {
    cursor: pointer;
}

.user-name-span, .notice-div span:nth-child(1), .recommend-reason-span {
    color: #8e8e8e;
}

.notice-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.show-all-recommend-user-span {
    cursor: pointer;
}

.show-all-recommend-user-span:hover {
    color: #8e8e8e;
}

.recommend-user-div {
    margin-top: 10px;
}

.recommend-user-ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recommend-user-ul li:not(.recommend-user-ul li:nth-last-child(1)) {
    margin-bottom: 10px;
}

.recommend-user-ul img {
    width: 32px;
    height: 32px;
}

.recommend-user-ul span {
    font-size: 12px;
}

.change-user-button:hover, .follow-user-button:hover {
    color: #1D3C78;
}

.policy-div {
    margin-top: 20px;
}

.policy-div ul {
    display: flex;
    align-items: center;
}

.policy-div ul li {
    color: #c7c7c7;
    font-size: 12px;
}

.policy-div ul li:hover {
    text-decoration: underline;
}

.policy-div ul li:not(.policy-div ul li:nth-last-child(1)) {
    margin-right: 10px;
}

.policy-div > div {
    margin-top: 20px;
}

.policy-div > div span {
    color: #c7c7c7;
    font-size: 12px;
}

/* Modal */

.change-password-main-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    border: 1px solid #dbdbdb;

    width: 350px;
    height: 400px;

    background-color: white;

    position: absolute;
    top: 200px;
    right: 400px;

    z-index: 1;
}

.change-password-main-div .user-information-div {
    display: flex;
    flex-direction: column;
}

.change-password-main-div .file-image {
    border: 1px solid #dbdbdb;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.change-password-main-div .user-nickname-span {
    font-size: 16px;
    font-weight: 500;
}

.change-password-main-div .auth-input-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.change-password-main-div input {
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;

    width: 300px;
    height: 50px;

    background-color: rgb(250, 250, 250);
}

.change-password-button {
    border: none;
    border-radius: 10px;

    width: 300px;
    height: 50px;

    background-color: #0095f6;
    color: white;
}

.skip-button {
    border: none;

    background-color: white;
    color: #0095f6;
}

/* Event */

.visible {
    display: none;
}

.hidden {
    visibility: hidden;
}