header {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 60px;
}

main {
    display: flex;
    justify-content: center;

    height: 1003px;

    background-color: rgb(250, 250, 250);
}

.header-div {
    width: 975px;
    height: 36px;
}

.header-div img {
    height: 36px;
}

.reset-main-div {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid #dbdbdb;
    margin-top: 150px;
    padding: 10px 40px;

    width: 388px;
    height: 551px;

    background-color: white;
}

.main-image-div {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100px;
}

.main-image-outer-div {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
    border-radius: 50%;

    width: 80px;
    height: 80px;
}

.main-image-div i {
    font-size: 50px;
}

.content-h1-div h1 {
    font-size: 18px;
    font-weight: 500;
}

.content-notice-div {
    margin-top: 10px;
}

.notice-span {
    font-size: 14px;
    color: #8e8e8e;
}

.auth-input {
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;

    width: 308px;
    height: 38px;

    background-color: #fafafa;

    outline: none;
}

.send-link-button {
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;

    width: 308px;
    height: 38px;

    background-color: #0095F6;
    color: white;
}

.line-div {
    display: flex;
    align-items: center;

    margin: 20px 0px;
}

.line {
    width: 125px;
    height: 1px;

    background-color: #dbdbdb;
}

.span-div {
    margin: 0px 15px;
}

.load-sign-in-page-button-div {
    display: flex;
    justify-content: center;
    align-items: center;

    border-right: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;

    height: 44px;
    
    background-color: rgb(250, 250, 250);
}

.load-sign-up-page-button, .load-sign-in-page-button {
    border: none;

    font-weight: 500;
}

.load-sign-up-page-button {
    background-color: white;
}

.load-sign-in-page-button {
    background-color: rgb(250, 250, 250);
}

.load-sign-up-page-button:hover, .load-sign-in-page-button:hover {
    color: #ccd0d5;
}